# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Julia
2.   Python
3.   R
4.   SQL

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   Matplotlib
3.   Numpy

| Data Science Tools |
|---|
| VS Code |
| Rstudio |
| Jupyter Notbook |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

**Objectives:**


*   List popular languages for Data Science
*   List popular libraries for Data Science
*   List popular environments for Data Science

## Author
Jeuss Castillo Due√±as